@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");


.App {
  text-align: center;
 min-height: 100vh;
 width: auto;
background-image: url(https://c.pxhere.com/photos/68/8d/clouds_sky_blue_sky_clouds_blue_sky_clouds_nature_weather_white-698353.jpg!d);
background-repeat: no-repeat;
background-size: cover;
}



.linkcard{
  text-decoration: none;
  
}


.anc{
  text-decoration: none;
  color: black;
}

.butt{
  text-decoration: none;
  color: black;
}
.cc{
  background-color: transparent;
}